htlmV2/html/wsdl/vapix/CertificateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="wsdl-viewer.xsl"?>
<!--
  Copyright (C) 2010, Axis Communications AB, LUND, SWEDEN
-->
<wsdl:definitions
      xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
      xmlns:acertificates="http://www.axis.com/vapix/ws/certificates"
      xmlns:acert="http://www.axis.com/vapix/ws/cert"
      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
      xmlns:xs="http://www.w3.org/2001/XMLSchema"
      targetNamespace="http://www.axis.com/vapix/ws/certificates">
  <wsdl:documentation xmlns="http://www.w3.org/1999/xhtml">
    <div class="indent">
      <div class="value">
        This web service implements the following operations:
        <ul>
          <li>
            <code>LoadPkcs12</code> - uploads a PKCS#12 formatted container that includes a 
            key pair and a certificate. A password may or may not be used.
          </li>
          <li>
            <code>CreateCertificate2</code> - an extension of the ONVIF CreateCertificate 
            operation which creates a self signed certficate.
          </li>		
          <li>
            <code>GetPkcs10Request2</code> - an extension of the ONVIF GetPkcs10Request 
            operation which creates a PKCS#10 signing request.
          </li>		
        </ul>	
      </div>
    </div>
  </wsdl:documentation>
  <wsdl:types>
    <xs:schema
       xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.axis.com/vapix/ws/certificates"
        elementFormDefault="qualified">
      <xs:import namespace="http://www.axis.com/vapix/ws/cert" schemaLocation="http://www.axis.com/vapix/ws/cert/cert.xsd"/>
      <xs:complexType name="LoadPkcs12">
        <xs:sequence>
          <xs:element name="Pkcs12" type="acert:Pkcs12">
            <xs:annotation>
              <xs:documentation>
                This element holds the parameters needed to upload a password protected PKCS12
                formatted certificate and its private key: 1) Id is an optional parameter where the party
                uploading the certificate can request a name for the certificate, 2) Certificate is the PKCS12
                container, 3) Password holds the password needed to decrypt the certificate and private key.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="LoadPkcs12Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Id" type="acert:IdRestrict">
              <xs:annotation>
                <xs:documentation>
                  The certificate id given to the uploaded certificate. It is either the certificate id requested by the
                  uploading party, or of none was requested, a certificate id generated by the certificate management
                  service.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Certificate" type="acert:CertificateRestrict">
              <xs:annotation>
                <xs:documentation>
                  Base 64 encoded PKCS12 container which can hold a maximum of one key pair and its associated certificate.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="CreateCertificate2">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Id" type="xs:token" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Certificate id.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Subject" type="acert:CertificateSubject" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Relative Distinguished Names (RDNs) that make up the Distinguished Name (DN) Subject.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ValidNotBefore" type="xs:dateTime" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Certificate validity start date.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ValidNotAfter" type="xs:dateTime" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Certificate expiry start date.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreateCertificate2Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Id" type="acert:IdRestrict">
              <xs:annotation>
                <xs:documentation>
                  The certificate id given to the created certificate. It is either the certificate id requested by the
                  certificate creating party, or if none was requested, a certificate id generated by the certificate 
                  management service.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Certificate" type="acert:CertificateRestrict">
              <xs:annotation>
                <xs:documentation>
                  Created certificate base 64 encoded.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="GetPkcs10Request2">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Id" type="acert:IdRestrict">
              <xs:annotation>
                <xs:documentation>
                  Certificate id of seed certificate.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Subject" type="acert:CertificateSubject" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Relative Distinguished Names (RDNs) that make up
                  the Distinguished Name (DN) Subject. If an RDN, for 
                  example, Country (C), is included in this operation
                  it will overwrite the Country code of the seed
                  certificate. This is true for all RDNs included
                  in this operation.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetPkcs10Request2Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Pkcs10Request" type="xs:string">
              <xs:annotation>
                <xs:documentation>
                  base64 encoded DER representation of certificate.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="UnknownCertificateIdFault">
        <xs:complexType/>
      </xs:element>

      <xs:element name="Pkcs10GenerationFault">
        <xs:complexType/>
      </xs:element>

      <xs:element name="CertificateDateFault">
        <xs:complexType/>
      </xs:element>

      <xs:element name="KeyPairGenerationFault">
        <xs:complexType/>
      </xs:element>

      <xs:element name="CertificateIdInUseFault">
        <xs:complexType/>
      </xs:element>

      <xs:element name="MaxNumberOfCertificatesFault">
        <xs:complexType/>
      </xs:element>

      <xs:element name="CertificateExpiryFault">
        <xs:complexType/>
      </xs:element>

      <xs:element name="CertificateDuplicateFault">
        <xs:complexType/>
      </xs:element>

      <xs:element name="CertificateFormatFault">
        <xs:complexType/>
      </xs:element>

      <xs:element name="LoadPkcs12Fault">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="MaxNumberOfCertificatesFaultMessage">
    <wsdl:part name="parameters" element="acertificates:MaxNumberOfCertificatesFault"/>
  </wsdl:message>
  <wsdl:message name="CertificateIdInUseFaultMessage">
    <wsdl:part name="parameters" element="acertificates:CertificateIdInUseFault"/>
  </wsdl:message>

  <wsdl:message name="LoadPkcs12Request">
    <wsdl:part name="parameters" element="acertificates:LoadPkcs12"/>
  </wsdl:message>
  <wsdl:message name="LoadPkcs12Response">
    <wsdl:part name="parameters" element="acertificates:LoadPkcs12Response"/>
  </wsdl:message>
  <wsdl:message name="CertificateExpiryFaultMessage">
    <wsdl:part name="parameters" element="acertificates:CertificateExpiryFault"/>
  </wsdl:message>
  <wsdl:message name="CertificateDuplicateFaultMessage">
    <wsdl:part name="parameters" element="acertificates:CertificateDuplicateFault"/>
  </wsdl:message>
  <wsdl:message name="CertificateFormatFaultMessage">
    <wsdl:part name="parameters" element="acertificates:CertificateFormatFault"/>
  </wsdl:message>
  <wsdl:message name="LoadPkcs12FaultMessage">
    <wsdl:part name="parameters" element="acertificates:LoadPkcs12Fault"/>
  </wsdl:message>


  <wsdl:message name="CreateCertificate2Request">
    <wsdl:part name="parameters" element="acertificates:CreateCertificate2"/>
  </wsdl:message>
  <wsdl:message name="CreateCertificate2Response">
    <wsdl:part name="parameters" element="acertificates:CreateCertificate2Response"/>
  </wsdl:message>
  <wsdl:message name="KeyPairGenerationFaultMessage">
    <wsdl:part name="parameters" element="acertificates:KeyPairGenerationFault"/>
  </wsdl:message>
  <wsdl:message name="CertificateDateFaultMessage">
    <wsdl:part name="parameters" element="acertificates:CertificateDateFault"/>
  </wsdl:message>

  <wsdl:message name="GetPkcs10Request2Request">
    <wsdl:part name="parameters" element="acertificates:GetPkcs10Request2"/>
  </wsdl:message>
  <wsdl:message name="GetPkcs10Request2Response">
    <wsdl:part name="parameters" element="acertificates:GetPkcs10Request2Response"/>
  </wsdl:message>
  <wsdl:message name="UnknownCertificateIdFaultMessage">
    <wsdl:part name="parameters" element="acertificates:UnknownCertificateIdFault"/>
  </wsdl:message>
  <wsdl:message name="Pkcs10GenerationFaultMessage">
    <wsdl:part name="parameters" element="acertificates:Pkcs10GenerationFault"/>
  </wsdl:message>

  <wsdl:portType name="CertificatesPort">

    <wsdl:operation name="LoadPkcs12">
      <wsdl:input message="acertificates:LoadPkcs12Request"/>
      <wsdl:output message="acertificates:LoadPkcs12Response"/>
      <wsdl:fault name="CertificateIdInUseFault" message="acertificates:CertificateIdInUseFaultMessage"/>
      <wsdl:fault name="MaxNumberOfCertificatesFault" message="acertificates:MaxNumberOfCertificatesFaultMessage"/>
      <wsdl:fault name="CertificateExpiryFault" message="acertificates:CertificateExpiryFaultMessage"/>
      <wsdl:fault name="CertificateDuplicateFault" message="acertificates:CertificateDuplicateFaultMessage"/>
      <wsdl:fault name="CertificateFormatFault" message="acertificates:CertificateFormatFaultMessage"/>
      <wsdl:fault name="LoadPkcs12Fault" message="acertificates:LoadPkcs12FaultMessage"/>
    </wsdl:operation>

    <wsdl:operation name="CreateCertificate2">
      <wsdl:input message="acertificates:CreateCertificate2Request"/>
      <wsdl:output message="acertificates:CreateCertificate2Response"/>
      <wsdl:fault name="CertificateIdInUseFault" message="acertificates:CertificateIdInUseFaultMessage"/>
      <wsdl:fault name="MaxNumberOfCertificatesFault" message="acertificates:MaxNumberOfCertificatesFaultMessage"/>
      <wsdl:fault name="KeyPairGenerationFault" message="acertificates:KeyPairGenerationFaultMessage"/>
      <wsdl:fault name="CertificateDateFault" message="acertificates:CertificateDateFaultMessage"/>
    </wsdl:operation>

    <wsdl:operation name="GetPkcs10Request2">
      <wsdl:input message="acertificates:GetPkcs10Request2Request"/>
      <wsdl:output message="acertificates:GetPkcs10Request2Response"/>
      <wsdl:fault name="UnknownCertificateIdFault" message="acertificates:UnknownCertificateIdFaultMessage"/>
      <wsdl:fault name="Pkcs10GenerationFault" message="acertificates:Pkcs10GenerationFaultMessage"/>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="CertificatesBinding" type="acertificates:CertificatesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="LoadPkcs12">
      <soap:operation soapAction="http://www.axis.com/vapix/ws/certificates/LoadPkcs12"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CertificateIdInUseFault">
        <soap:fault name="CertificateIdInUseFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MaxNumberOfCertificatesFault">
        <soap:fault name="MaxNumberOfCertificatesFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CertificateExpiryFault">
        <soap:fault name="CertificateExpiryFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CertificateDuplicateFault">
        <soap:fault name="CertificateDuplicateFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CertificateFormatFault">
        <soap:fault name="CertificateFormatFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="LoadPkcs12Fault">
        <soap:fault name="LoadPkcs12Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="CreateCertificate2">
      <soap:operation soapAction="http://www.axis.com/vapix/ws/certificates/CreateCertificate2"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CertificateIdInUseFault">
        <soap:fault name="CertificateIdInUseFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MaxNumberOfCertificatesFault">
        <soap:fault name="MaxNumberOfCertificatesFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="KeyPairGenerationFault">
        <soap:fault name="KeyPairGenerationFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CertificateDateFault">
        <soap:fault name="CertificateDateFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="GetPkcs10Request2">
      <soap:operation soapAction="http://www.axis.com/vapix/ws/certificates/GetPkcs10Request2"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownCertificateIdFault">
        <soap:fault name="UnknownCertificateIdFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="Pkcs10GenerationFault">
        <soap:fault name="Pkcs10GenerationFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

  </wsdl:binding>
</wsdl:definitions>
