htlmV2/html/wsdl/vapix/RecordedTourService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="wsdl-viewer.xsl"?>
<wsdl:definitions xmlns:arth="http://www.axis.com/vapix/ws/recordedtour1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.axis.com/vapix/ws/recordedtour1">
  <wsdl:types>
    <xs:schema targetNamespace="http://www.axis.com/vapix/ws/recordedtour1" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

      <xs:simpleType name="TourName">
        <xs:restriction base="xs:string">
          <xs:maxLength value="31"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:complexType name="TourInfo">
        <xs:sequence>
          <xs:element name="RecordedTourId" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Integer representation of a recorded tour.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NiceName" type="arth:TourName">
            <xs:annotation>
              <xs:documentation>Friendy name representation of the recorded tour.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Camera" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Id of the camera related to the recorded tour.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Status" type="xs:string">
            <xs:annotation>
              <xs:documentation>Current status of the recorded tour 'playing, recording, stopped'.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DefaultLoopDelay" type="xs:duration">
            <xs:annotation>
              <xs:documentation>Default delay between iterations of the tour.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <!--  Message Request/Responses elements  -->
      <xs:element name="Record">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NiceName" type="arth:TourName">
              <xs:annotation>
                <xs:documentation>Friendy name representation of the recorded tour.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Camera" type="xs:integer">
              <xs:annotation>
                <xs:documentation>Id of the camera related to the recorded tour.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="RecordedTourId" type="xs:integer" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Integer representation of a recorded tour. If not given, automatic asignment is used.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="RecordResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RecordedTourId" type="xs:integer">
              <xs:annotation>
                <xs:documentation>Integer representation of the newly recorded tour.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="Play">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RecordedTourId" type="xs:integer">
              <xs:annotation>
                <xs:documentation>Integer representation of a recorded tour to play.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Loop" type="xs:boolean" minOccurs="0">
              <xs:annotation>
                <xs:documentation>If given, 1 for continous looping, 0 for play only once.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="LoopDelay" type="xs:duration" minOccurs="0">
              <xs:annotation>
                <xs:documentation>If given, the amount of seconds to wait before starting the next iteration, if left out default is used.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="PlayResponse">
        <xs:complexType/>
      </xs:element>

      <xs:element name="Pause">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RecordedTourId" type="xs:integer">
              <xs:annotation>
                <xs:documentation>Integer representation of the recorded tour to pause.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="PauseResponse">
        <xs:complexType/>
      </xs:element>

      <xs:element name="Resume">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RecordedTourId" type="xs:integer">
              <xs:annotation>
                <xs:documentation>Integer representation of the recorded tour to resume.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="ResumeResponse">
        <xs:complexType/>
      </xs:element>

      <xs:element name="StopRecording">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RecordedTourId" type="xs:integer">
              <xs:annotation>
                <xs:documentation>Integer representation of the recorded tour to stop its ongoing recording.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="StopRecordingResponse">
        <xs:complexType/>
      </xs:element>

      <xs:element name="StopPlayback">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RecordedTourId" type="xs:integer">
              <xs:annotation>
                <xs:documentation>Integer representation of the recorded tour to stop its playback.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="StopPlaybackResponse">
        <xs:complexType/>
      </xs:element>

      <xs:element name="List">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Camera" type="xs:integer" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Id representing a specific camera, if given a filter for the list will be applied, only matching tours will be returned.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="RecordedTourId" type="xs:integer" minOccurs="0">
              <xs:annotation>
                <xs:documentation>If given, only the tour with the matching interger representation will be returned.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="ListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Tours" type="arth:TourInfo" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>List of tours matching the given filters, or all if no filters were given.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="Remove">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RecordedTourId" type="xs:integer">
              <xs:annotation>
                <xs:documentation>Integer representation of the tour to remove.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="RemoveResponse">
        <xs:complexType/>
      </xs:element>

      <xs:element name="Modify">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RecordedTourId" type="xs:integer">
              <xs:annotation>
                <xs:documentation>Integer representation of an existing recorded tour to modify.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="NiceName" type="arth:TourName" minOccurs="0">
              <xs:annotation>
                <xs:documentation>New friendly name of the tour, if not given the name will not be changed.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="DefaultLoopDelay" type="xs:duration" minOccurs="0">
              <xs:annotation>
                <xs:documentation>New default delay beteween iterations, if not given the delay will not change.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="ModifyResponse">
        <xs:complexType/>
      </xs:element>

    </xs:schema>
  </wsdl:types>

  <wsdl:message name="RecordRequest">
    <wsdl:part name="parameters" element="arth:Record"/>
  </wsdl:message>

  <wsdl:message name="RecordResponse">
    <wsdl:part name="parameters" element="arth:RecordResponse"/>
  </wsdl:message>

  <wsdl:message name="PlayRequest">
    <wsdl:part name="parameters" element="arth:Play"/>
  </wsdl:message>

  <wsdl:message name="PlayResponse">
    <wsdl:part name="parameters" element="arth:PlayResponse"/>
  </wsdl:message>

  <wsdl:message name="PauseRequest">
    <wsdl:part name="parameters" element="arth:Pause"/>
  </wsdl:message>

  <wsdl:message name="PauseResponse">
    <wsdl:part name="parameters" element="arth:PauseResponse"/>
  </wsdl:message>

  <wsdl:message name="ResumeRequest">
    <wsdl:part name="parameters" element="arth:Resume"/>
  </wsdl:message>

  <wsdl:message name="ResumeResponse">
    <wsdl:part name="parameters" element="arth:ResumeResponse"/>
  </wsdl:message>

  <wsdl:message name="StopRecordingRequest">
    <wsdl:part name="parameters" element="arth:StopRecording"/>
  </wsdl:message>

  <wsdl:message name="StopRecordingResponse">
    <wsdl:part name="parameters" element="arth:StopRecordingResponse"/>
  </wsdl:message>

  <wsdl:message name="StopPlaybackRequest">
    <wsdl:part name="parameters" element="arth:StopPlayback"/>
  </wsdl:message>

  <wsdl:message name="StopPlaybackResponse">
    <wsdl:part name="parameters" element="arth:StopPlaybackResponse"/>
  </wsdl:message>

  <wsdl:message name="ListRequest">
    <wsdl:part name="parameters" element="arth:List"/>
  </wsdl:message>

  <wsdl:message name="ListResponse">
    <wsdl:part name="parameters" element="arth:ListResponse"/>
  </wsdl:message>

  <wsdl:message name="RemoveRequest">
    <wsdl:part name="parameters" element="arth:Remove"/>
  </wsdl:message>

  <wsdl:message name="RemoveResponse">
    <wsdl:part name="parameters" element="arth:RemoveResponse"/>
  </wsdl:message>

  <wsdl:message name="ModifyRequest">
    <wsdl:part name="parameters" element="arth:Modify"/>
  </wsdl:message>

  <wsdl:message name="ModifyResponse">
    <wsdl:part name="parameters" element="arth:ModifyResponse"/>
  </wsdl:message>

  <wsdl:portType name="RecordedTour">

    <wsdl:operation name="Record">
      <wsdl:documentation>Initates a recording of the camera movements.</wsdl:documentation>
      <wsdl:input message="arth:RecordRequest"/>
      <wsdl:output message="arth:RecordResponse"/>
    </wsdl:operation>

    <wsdl:operation name="Play">
      <wsdl:documentation>Initates a play request of a previously recorded tour.</wsdl:documentation>
      <wsdl:input message="arth:PlayRequest"/>
      <wsdl:output message="arth:PlayResponse"/>
    </wsdl:operation>

    <wsdl:operation name="Pause">
      <wsdl:documentation>Initates a pause request of a playing recorded tour.</wsdl:documentation>
      <wsdl:input message="arth:PauseRequest"/>
      <wsdl:output message="arth:PauseResponse"/>
    </wsdl:operation>

    <wsdl:operation name="Resume">
      <wsdl:documentation>Initates a resume request of a paused recorded tour.</wsdl:documentation>
      <wsdl:input message="arth:ResumeRequest"/>
      <wsdl:output message="arth:ResumeResponse"/>
    </wsdl:operation>

    <wsdl:operation name="StopRecording">
      <wsdl:documentation>Initates a stop recording request of a ongoing recording of a recorded tour.</wsdl:documentation>
      <wsdl:input message="arth:StopRecordingRequest"/>
      <wsdl:output message="arth:StopRecordingResponse"/>
    </wsdl:operation>

    <wsdl:operation name="StopPlayback">
      <wsdl:documentation>Initates a stop playing request of a playing recorded tour.</wsdl:documentation>
      <wsdl:input message="arth:StopPlaybackRequest"/>
      <wsdl:output message="arth:StopPlaybackResponse"/>
    </wsdl:operation>

    <wsdl:operation name="List">
      <wsdl:documentation>Requests a list of available recorded tours the response can be filtered by giving a specific id or camera for which the information will be listed.</wsdl:documentation>
      <wsdl:input message="arth:ListRequest"/>
      <wsdl:output message="arth:ListResponse"/>
    </wsdl:operation>

    <wsdl:operation name="Remove">
      <wsdl:documentation>Initates a remove request of one previously recorded tour.</wsdl:documentation>
      <wsdl:input message="arth:RemoveRequest"/>
      <wsdl:output message="arth:RemoveResponse"/>
    </wsdl:operation>

    <wsdl:operation name="Modify">
      <wsdl:documentation>Initates a modify request of a previously recorded tour to change its name or delay between loops.</wsdl:documentation>
      <wsdl:input message="arth:ModifyRequest"/>
      <wsdl:output message="arth:ModifyResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="RecordedTourBinding" type="arth:RecordedTour">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="Record">
      <soap:operation soapAction="http://www.axis.com/vapix/ws/recordedtour1/Record"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Play">
      <soap:operation soapAction="http://www.axis.com/vapix/ws/recordedtour1/Play"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Pause">
      <soap:operation soapAction="http://www.axis.com/vapix/ws/recordedtour1/Pause"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Resume">
      <soap:operation soapAction="http://www.axis.com/vapix/ws/recordedtour1/Resume"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="StopRecording">
      <soap:operation soapAction="http://www.axis.com/vapix/ws/recordedtour1/StopRecording"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="StopPlayback">
      <soap:operation soapAction="http://www.axis.com/vapix/ws/recordedtour1/StopPlayback"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="List">
      <soap:operation soapAction="http://www.axis.com/vapix/ws/recordedtour1/List"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://www.axis.com/vapix/ws/recordedtour1/Remove"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Modify">
      <soap:operation soapAction="http://www.axis.com/vapix/ws/recordedtour1/Modify"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>
</wsdl:definitions>
